
body{
    display: flex;
}
.background-sliders{
    display: flex;
}
.background-sliders > img{
    width: 150px;
    object-fit: cover; 
    object-position: top center;
}

img{
    max-width: 100%;
    block-size: auto;
 
}